@page "/counter"
@using Domain
@inject CatMash CatMash

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<img src="@catDtos.Item1.ToDto().ImageUrl" alt="@catDtos.Item1.ToDto().Id" height="100px" width="100px"/> 

<button class="btn btn-primary" @onclick="() => IncrementCount(catDtos.Item1)">Click me</button>

@code {
    (ICat, ICat) catDtos;
    
    protected override async Task OnInitializedAsync()
    {
        catDtos = await CatMash.Mash();
    }
    
    private void IncrementCount(ICat cat)
    {
        cat.EarnAVote();
    }

}