@page "/counter"
@using Domain
@inject CatMash CatMash

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div>
    <img src="@catDtos.Item1.ToDto().ImageUrl" alt="@catDtos.Item1.ToDto().Id" height="100px" width="100px"/> 
    <button class="btn btn-primary" @onclick="() => IncrementCount(catDtos.Item1)">Vote Me</button>
</div>

<div>
    <img src="@catDtos.Item2.ToDto().ImageUrl" alt="@catDtos.Item2.ToDto().Id" height="100px" width="100px"/> 
    <button class="btn btn-primary" @onclick="() => IncrementCount(catDtos.Item2)">Vote Me</button>
</div>
@code {
    (ICat, ICat) catDtos;
    
    protected override async Task OnInitializedAsync()
    {
        catDtos = await CatMash.Mash();
    }
    
    private async Task IncrementCount(ICat cat)
    {
        await cat.EarnAVote();
        catDtos = await CatMash.Mash();
    }

}