@page "/fetchdata"
@using BlazorApp1.Data
@using Domain
@using System.Collections
@inject CatMash CatMash

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (cats == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Cat</th>
            <th>Vote</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cat in cats)
        {
            <tr>
                <td>@cat.Image</td>
                <td>@cat.Votes</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private CatDto[]? cats;

    protected override async Task OnInitializedAsync()
    {
        List<CatDto> catDtos = await CatMash.GetAll();
        cats = catDtos.ToArray();
    }

}