@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<p>Hello, since i used a small azure server for this app, it might take some time to load the data</p>
<p>So just reload the page after a minute and you should be good if it break</p>

<p>Enjoy !</p>