@page "/votes"
@using Domain
@inject CatMash CatMash

<PageTitle>Cat votes</PageTitle>

<h1>Cat votes</h1>


@if (cats == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>There is currently @cats.Length cats</p>
    
    <table class="table">
        <thead>
        <tr>
            <th>Cat</th>
            <th>Vote</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cat in cats)
        {
            <tr>
                <td><img src="@cat.ImageUrl" alt="@cat.Id" height="100px" width="100px"/></td>
                <td>@cat.Votes</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private CatDto[]? cats;

    protected override async Task OnInitializedAsync()
    {
        List<CatDto> catDtos = await CatMash.GetAll();
        cats = catDtos.OrderByDescending(x => x.Votes).ToArray();
    }

}